name: Puppeteer tests
on: push

jobs:
  build:
    name: Puppeteer tests
    # Tell the action to use the latest
    # version of Ubuntu (a Linux flavor)
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-latest
    env:
      PGHOST: localhost
      PGDATABASE: final_project_db
      PGUSERNAME: final_project_db
      PGPASSWORD: final_project_db
      CSRF_SECRET_SALT: ${{ secrets.CSRF_SECRET_SALT }}
      CLOUD_NAME: ${{ secrets.CLOUD_NAME }}
      UPLOAD_PRESET: ${{ secrets.UPLOAD_PRESET }}
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
    steps:
      - name: Start preinstalled PostgreSQL on Ubuntu
        run: |
          sudo systemctl start postgresql.service
          pg_isready
      - name: Create database user
        run: |
          sudo -u postgres psql --command="CREATE USER final_project_db PASSWORD 'final_project_db'" --command="\du"
      - name: Create database and allow user
        run: |
          sudo -u postgres createdb --owner=final_project_db final_project_db
      # Use the official Checkout action (clones the GitHub repo):
      # https://github.com/actions/checkout
      - uses: actions/checkout@v2
      # Use the official setup-node action (sets up Node.js):
      # https://github.com/actions/setup-node
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
      # Run the migrations
      - run: prisma generate
      # Build the Next.js application
      - run: yarn build
      # Run the Jest unit tests
      - run: yarn jest --config integration/jest.config.mjs
